In [53]:
import pandas
from itertools import islice

def window(seq, n=2):
    "Returns a sliding window (of width n) over data from the iterable"
    "   s -> (s0,s1,...s[n-1]), (s1,s2,...,sn), ...                   "
    it = iter(seq)
    result = tuple(islice(it, n))
    if len(result) == n:
        yield result
    for elem in it:
        result = result[1:] + (elem,)
        yield result
        
ts = pandas.Series(range(0, 40, 2))
a = ts.rolling(2)

In [54]:
a = window(ts.x, ts.y, 5)

AttributeError: 'Series' object has no attribute 'x'

In [55]:
for el in a:
    print(el)

NotImplementedError: See issue #11704 https://github.com/pandas-dev/pandas/issues/11704

In [52]:
ts

     x   y
0    0   0
1    2   2
2    4   4
3    6   6
4    8   8
5   10  10
6   12  12
7   14  14
8   16  16
9   18  18
10  20  20
11  22  22
12  24  24
13  26  26
14  28  28
15  30  30
16  32  32
17  34  34
18  36  36
19  38  38