In [1]:
import pandas as pd
import numpy as np
import os
import sys
from sktime.utils.load_data import load_from_tsfile_to_dataframe
from sktime.utils.data_container import from_nested_to_long
import sktime as skt
import seaborn as sns
from utils import *

In [77]:
data_folder = 'data/Univariate_ts'
dataset_name = 'DiatomSizeReduction'
train_dataset_path = os.path.join(data_folder, dataset_name, dataset_name+"_TRAIN.ts")
test_dataset_path = os.path.join(data_folder, dataset_name, dataset_name+"_TEST.ts")
train_x, train_y  = load_from_tsfile_to_dataframe(train_dataset_path, replace_missing_vals_with='Nan')
test_x, test_y = load_from_tsfile_to_dataframe(test_dataset_path, replace_missing_vals_with='NaN')

In [80]:
test_x

array([0      1.574034
1      1.568635
2      1.567424
3      1.572823
4      1.534626
         ...
340    1.549913
341    1.550319
342    1.551192
343    1.552998
344    1.552998
Length: 345, dtype: float64], dtype=object)

In [64]:
a = from_nested_to_long(train_x).set_index('index')

a

          value column time_index
index
0     -0.362922  dim_0          0
1     -0.116280  dim_0          0
2     -0.179317  dim_0          0
3     -0.103757  dim_0          0
4     -0.208100  dim_0          0
...         ...    ...        ...
25    -1.606271  dim_0        469
26    -1.972077  dim_0        469
27    -2.011839  dim_0        469
28    -1.676686  dim_0        469
29    -1.608715  dim_0        469

[14100 rows x 3 columns]

In [2]:
import ipywidgets as widgets
import os 
import sys

dataset_selector = widgets.Dropdown(
    options=['1', '2', '3'],
    value='2',
    description='Number:',
    disabled=False,
)

In [3]:
display(dataset_selector)

Dropdown(description='Number:', index=1, options=('1', '2', '3'), value='2')